@using Entities.Concrete;
@model List<UrunResim>
@{
    TempData["Title"] = "Resim Ekle";
}
<div class="container mt-4">
    <a href="/Admin/Urun/">
        <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2">
            <i class="fa-solid fa-arrow-left" title="Geri Dön" style="font-size:30px;"></i>
        </button>
    </a>
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card">
                <div class="card-header renk">Ürün Fotoğrafı</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile mb-4" id="gosterilenResim" alt="Seçilen Resim">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG veya PNG, 5 MB'tan az olmalı.</div>
                    <!-- Profile picture upload button-->
                    <div class="mb-3">
                        <form id="resimEkleForm" enctype="multipart/form-data">
                            <div class="inputt ">
                                <input type="file" id="resimDosyasi" name="file" onchange="gosterResmi(this)">
                                <input value="@ViewBag.productId" name="productId" style="display:none" />
                                <label for="resimDosyasi">Fotoğraf seçiniz</label>
                            </div>
                            <button class="btn btn-primary renkBtn" type="button" id="kaydetBtn">Ekle</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header renk">Ürün Detayları</div>
                <div class="card-body">
                    <div id="confirmationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmationModalLabel">İşlem Onayı</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Silmek istediğinizden emin misiniz?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                    <a id="deleteLink" href="#" class="btn btn-danger">Sil</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="mesaj"></div>
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                @if (Model.Count != null && Model.Count > 0)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-lg-4">
                                            <div class="card">
                                                <img src="@item.ResimYol"
                                             class="card-img-top"
                                             alt="Waterfall" />
                                                <div class="card-body">
                                                    <h5 class="card-title">@item.Urun.Ad</h5>
                                                    <button class="btn btn-danger delete-link" data-id="@item.Id">Sil</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="alert alert-warning">Resim mevcut değil. Lütfen resim ekleyin.</div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#kaydetBtn').click(function () {
            var formData = new FormData($('#resimEkleForm')[0]);

            $.ajax({
                type: 'POST',
                url: '/Admin/Urun/AddImage', // İlgili URL'yi düzeltin
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            title: 'Başarılı!',
                            text: response.message,
                            icon: 'success',
                            confirmButtonText: 'Tamam'

                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.reload(); // Sayfayı yeniden yükle
                            }
                        });
                    } else {
                        Swal.fire({
                            title: 'HATA!',
                            text: response.message,
                            icon: 'error',
                            confirmButtonText: 'Tamam'
                        });
                    }
                },
                error: function () {
                    $('#mesaj').html('<div class="alert alert-danger">Bir hata oluştu. Resim eklenemedi.</div>');
                }
            });
        });
        $('.delete-link').click(function(){
            var id = $(this).data("id");
            $("#confirmationModal").modal("show");
            $("#deleteLink").off("click").on("click", function () {
                $.ajax({
                    url: "/Admin/Urun/DeleteImage", // Urun güncelleme Action metodunun URL'si
                    type: "POST",
                    data: {
                        productImageId: id,
                    },
                    success: function (data) {
                        if (data.success) {
                            Swal.fire({
                                title: 'Başarılı!',
                                text: data.message,
                                icon: 'success',
                                confirmButtonText: 'Tamam'

                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.reload(); // Sayfayı yeniden yükle
                                }
                            });
                        } else {
                             Swal.fire({
                            title: 'HATA!',
                            text: data.message,
                            icon: 'error',
                            confirmButtonText: 'Tamam'
                        });
                            $("#confirmationModal").modal("hide");
                        }
                    },
                    error: function () {
                        Swal.fire({
                            title: 'HATA!',
                            text: data.message,
                            icon: 'error',
                            confirmButtonText: 'Tamam'
                        });
                    }
                });
            });
        });
    });

    function gosterResmi(input) {
        var gosterilenResim = document.getElementById('gosterilenResim');
        if (input.files && input.files[0]) {
            var okuyucu = new FileReader();
            okuyucu.onload = function (e) {
                gosterilenResim.src = e.target.result;
                gosterilenResim.style.display = 'block';
            };
            okuyucu.readAsDataURL(input.files[0]);
        }
    }
</script>