@using WebUI.Areas.Member.Models;
@model MemberChangePasswordModel
@{
    TempData["Title"] = "Güvenlik";
}

@if (TempData["Message"]!=null)
{
    <div class="m-5">
        <div class="alert alert-success">@TempData["Message"]</div>
    </div>
}

<section class="container" style="margin-top: 1rem;">
    <main>
            <nav class="nav nav-borders">
                <a class="nav-link ml-0" href="/Member/Profil/Index">Profil Bilgileri</a>
            <a class="nav-link renk" href="/Member/Profil/Guvenlik"><b>Güvenlik</b></a>
            </nav>
            <hr class="mt-0 mb-4">


            <div class="row">
                <div class="col-lg-12">
                    <!-- Change password card-->
                    <div class="card mb-4">
                        <div class="card-header renk">Şifre Değiştirme</div>
                        <div class="card-body">
                            <form asp-area="Member" asp-controller="Profil" asp-action="Guvenlik">
                                <!-- Form Group (current password)-->
                                <div class="form-group">
                                    <label class="small mb-1" for="currentPassword">Güncel Şifre</label>
                                    <input asp-for="LastPassword" class="form-control" id="currentPassword" type="password" placeholder="************">
                                </div>
                                <!-- Form Group (new password)-->
                                <div class="form-group">
                                    <label class="small mb-1" for="newPassword">Yeni Şifre</label>
                                    <input asp-for="NewPassword" class="form-control" id="newPassword" type="password" placeholder="************">
                                </div>
                                <!-- Form Group (confirm password)-->
                                <div class="form-group">
                                    <label class="small mb-1" for="confirmPassword">Yeni Şifre Tekrar</label>
                                    <input asp-for=PasswordConfirm class="form-control" id="confirmPassword" type="password" placeholder="************">
                                </div>
                                <div class="text-danger" asp-validation-summary="All"></div>
                                <button class="btn btn-primary renkBtn" type="submit">Güncelle</button>
                            </form>
                        </div>
                    </div>
                    <!-- Security preferences card-->
                </div>
                <div class="col-lg-4">
                    <!-- Two factor authentication card-->

                </div>
            </div>
    </main>
</section>